.task-item-container {
    width: 60%;

    background: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // Responsive text size
    @media (max-width: 480px) {
        font-size: 14px;
        padding: 8px 12px;
        width: 90%;
    }

    .completed-task {
        text-decoration: line-through;
    }

}